body{
	background-image: url(../images/greathall.jpg);
	opacity:.8;
	background-size: cover;
	
}
#name-label{
	color:white;
}
#age-label{
	color:white;
}
#gender-label{
	color:white;
}
#gender-input{
	color:white;
}
#patronus-answer{
	color:white;
}
#patronus-name{
	color:white;
	font-size: 25px;
}
#patronus-character{
	color:white;
	font-size: 25px;
}
#patronus-quality{
	color:white;
	font-size: 25px;
}
